HELP.md
target/

**/target/
**/.mvn
**/mvnw
**/mvnw.cmd
**/.gitignore

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

**/*.class
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
