<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.user.dao.UserDao">

    <resultMap id="User" type="user">
        <id property="userId" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="gender" column="user_gender"/>
        <result property="avatar" column="user_avatar"/>
        <result property="mail" column="user_mail"/>
        <result property="phone" column="user_phone"/>
        <result property="major" column="user_major"/>
        <result property="campus" column="user_campus"/>
        <result property="institution" column="user_institution"/>
        <result property="isAdmin" column="user_isAdmin"/>
    </resultMap>

    <select id="findUserByName" parameterType="String" resultMap="User">
        SELECT * from user WHERE user_name = #{value}
    </select>

    <select id="findUserByMail" parameterType="String" resultMap="User">
        SELECT * from user WHERE user_mail = #{value}
    </select>

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO user(user_id,user_name,user_password,user_mail,,user_isAdmin)
        VALUES (null,#{name},#{password},#{mail},0)
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE user
        SET user_name=#{name}, user_gender=#{gender}, user_phone=#{phone},
            user_major=#{major},user_campus=#{campus}, user_institution=#{institution}
        WHERE user_id = #{userId}
    </update>

    <update id="updateAvatar">
        UPDATE user SET user_avatar = #{avatar}
        WHERE user_id = #{userId}
    </update>

</mapper>
